
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/detailStyle.css" rel="stylesheet" />
}

<div class="container">
    <br />
    Đây là project cá nhân môn phát triển ứng dụng web được làm bởi Nguyễn Hoài Huy Đạt, 63.CNTT-1, Đại học Nha Trang.
</div>