
@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>ĐẶC TẢ PHẦN MỀM</h3>
a. Thiết kế CSDL có tên QLNV_MãSV gồm 2 bảng dữ liệu sau:<br/>
    Phòng ban (Mã phòng ban, Tên phòng ban)<br />
    Nhân viên (Mã NV, Họ NV, Tên NV, Giới tính, Ngày sinh, Lương, Ảnh NV, Địa chỉ, Mã phòng ban)<br />
b. Tạo Entity Data Model (EDM) có tên ModelQLNV_MãSV cho CSDL trên.<br />
c. Xây dựng các chức năng cho phép người quản trị quản lý các thông tin: Phòng ban, Nhân viên<br />
(thêm, sửa, xóa và hiện thị danh sách).<br />
d. Tìm kiếm thông tin liên quan đến nhân viên: Mã nhân viên, họ tên, giới tính, địa chỉ, phòng ban, …