@{
    ViewBag.Title = "FormRegister";
}
<h4>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h4>
    <div>
        MSSV: <input type="text" name="Id" value=@ViewBag.Id /> <br />
        Tên SV: <input type="text" name="Name" value=@ViewBag.Name /> <br />
        Điểm: <input type="text" name="Marks" value=@ViewBag.Marks />
    </div>
<a href="/SinhVien_63133655/FormIndex">Quay lại</a>