@{
    ViewBag.Title = "ModelsIndex";
}
<h4>THÔNG TIN SINH VIÊN</h4>
<form name="f1" action="/SinhVien_63133655/ModelsRegister" method="post">
    <div>
        MSSV: <input type="text" name="Id" /> <br />
        Tên SV: <input type="text" name="Name" /> <br />
        Điểm: <input type="text" name="Marks" />
    </div>
    <div><input type="submit" value="Đăng ký" /></div>
</form>