
@{
    ViewBag.Title = "GioiThieu_63133655";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
}

<div class="container">
    <h4>THÔNG TIN SINH VIÊN DỰ THI</h4>
    <div class="column">
        <img src="~/Images/giothieu.png" class="avatar" alt="Avatar">
    </div>
    <div class="column">
        Mã số SV:</br>
        Họ và tên:</br>
        Ngày thi:</br>
        Học phần:
    </div>
    <div class="column">
        63133655</br>
        Nguyễn Hoài Huy Đạt</br>
        26/10/2023</br>
        Phát triển ứng dụng web
    </div>
</div>
