
@{
    ViewBag.Title = "GioiThieu_63133655";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/GioiThieuSS.css" rel="stylesheet" />
}

<h2>Giới Thiệu</h2>
<div class="column">
    Mã sinh viên</br>
    Họ tên</br>
    Lớp</br>
</div>
<div class="column">
    63133655</br>
    Nguyễn Hoài Huy Đạt</br>
    63.CNTT-1</br>
</div>